* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
    }
  
  body {
    background: #000
  }
  .login{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 300px;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
    width: 520px;
    background: #141825;

  }
  .login-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;    
  }
  .login-input{
    padding: 14px 32px 14px 16px;
    border: none;
    border-bottom: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  .login-input::placeholder {
    color: #e2e2e2;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
  }
  .login-btn{
    padding: 15px 0px;
    margin: 25px 70px;
    width: 50%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
  }
  .list{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 500px;
    text-align: center;
    margin:  auto;
    border-radius: 10px;
    width: 780px;
    background: #141825;
  }

  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .faq{
    display: flex;
    margin: 5px;
  }
  .faq-form {
    display: flex;
    margin-bottom: 32px;
  }
  
  .faq-input {
    padding: 14px 32px 14px 16px;
    border: none;
    border-bottom: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .faq-input::placeholder {
    color: #e2e2e2;
    font-size: 15px;
    text-align: center;
  }
  
  .faq-add-button {
    padding: 15px ;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
  }
  .heading{
    color: #000;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .faq-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    border-bottom: 1px solid rgb(48, 184, 238);
    padding: 16px;
    width: 90%;
  }
  
   .faq-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  } 
  
  .faq-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .faq-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  } 
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    /* background-color: rgb(255, 255, 255); */
  }
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  